.avatar {
    width: 250px;
    height: 250px;
    margin: 30px;
    margin-left: 30px;
    border-radius: 120px;
    box-shadow: 5px 5px 7px rgba(76, 2, 2, 0.3)
}

.icon-skill {
    width: 30px;
    height: 30px;
    display: inline;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 7px rgba(61, 61, 61, 0.3)
}

.skills {
    margin-top: 100px;
}

.wid-img {
    width: 110px;
    height: 110px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.card {
    background: rgb(51, 51, 52);
    border-radius: 4px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    max-width: 600px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
    margin-bottom: 60px;
}

.card h2 {
    margin: 0;
    padding: 0 1rem;
}

.card .title {
    padding: 1rem;
    text-align: right;
    color: rgb(254, 254, 254);
    font-weight: bold;
    font-size: 12px;
}

.card .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
    color: azure;
    text-align: justify;
}

.card .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
}

.card svg {
    width: 85px;
    height: 85px;
    margin: 0 auto;
}

.img-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid rgb(51, 51, 52);
    background-image: linear-gradient(-60deg, #416fef 0%, #5345b9fe 100%);
    top: 15px;
    left: 155px;
}

.card-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.title-total {
    padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
    fill: white;
}

.img-portada {
    width: 100%;
}

.portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-position: bottom center;
    background-size: cover;
}

button {
    border: none;
    background: none;
    font-size: 24px;
    color: #1f3dd0;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    color: rgb(38, 71, 199);
    transform: rotate(22deg);
}

.info h4,
p {
    display: inline;
}

.info-proj {
    text-align: left;
    padding: 10px;
}


/* CSS */

.button-88 {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    color: white;
    width: 60px;
    padding: 6px;
    height: 60px;
    margin-left: 5px;
    margin-top: 2px;
    background: #ad5389;
    background: linear-gradient(0deg, #416fef 0%, #5345b9fe);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #0c2ca298;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.button-88:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #416fef;
}

.button-88:active {
    box-shadow: 0 0.3em 1em -0.5em #416fef;
}